* {
    margin:0;
    padding:0;
    box-sizing: 0;
}
body  {
    font-family: 'Poppins', sans-serif;    
    h1 {
        text-align:center;
        text-decoration: underline;
        padding: 1rem;
    }
    h2 {
        padding: 1rem;
    }
}
a {
    padding: 0.6rem 0.6rem!important;
    font-size: 1.1rem!important;
    color: white!important;
    text-align: center;
}




