.tarjetas {
    max-width: 420px;
}
.card {
    border: none;
    align-items: center;
    text-align: center;
}

.parrafo_nosotros {
    @extend %pcentrado;
    width: 75%;
    padding-bottom: 1rem;
}