header {
    border-radius: 5px;
    padding: 20px;
    background-color: #388AB0;  
    width: 100%;  
    align-items: center;

    .menu {

        display: flex;
        align-items: center;
        justify-content: space-around;

        &__item {
            display: inline-block;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 5px;   
        }

    }

    nav picture {
        flex-basis:40%;

        img {

            max-width: 225px;
            max-height: 60px;
        
        }

    }
    
    nav ul {
        flex-basis: 60%;
    
    }

}